@import url(./main.css);
@import url(./mobile.style.css);

/* bai-jamjuree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bai-jamjuree-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bai-jamjuree-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bai Jamjuree";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/bai-jamjuree-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /*### Primary */

  --green500: hsl(171, 66%, 44%);
  --blue100: hsl(233, 100%, 69%);

  /*### Neutral */

  --gray700: hsl(210, 10%, 33%);
  --gray500: hsl(201, 11%, 66%);
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background-color: var(--white);
}
