.preview {
  border-radius: 18px;

  width: 260px;
  padding: 24px;
  background-color: var(--Blue900);
  margin: auto;
}

.cube-equilibrium {
  width: 100%;
  border-radius: 10px;
}

.hearder-text {
  color: var(--White);
  font-size: 20px;
}

.content {
  color: var(--Blue500);
}

.code-word {
  color: var(--Cyan400);
}

.icon-header {
  justify-content: space-between;
}

.code-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.days {
  color: var(--Blue500);
}

.days-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-header {
  display: flex;
  justify-content: space-between;
}
.boy-avator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}

.profile-image {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border-top: 1px solid var(--Blue500);
  padding-top: 10px;
}

.creator {
  color: var(--Blue500);
}

.creator-name {
  color: var(--White);
}

.creator-profile {
  display: flex;
  align-items: center;
  gap: 5px;
}
